/* Import font: 'Titilium Web' */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
/* Import font: 'Permanent Marker' */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


/* --- General Styles --- */
*{
  margin:0;
  padding:0;
}

html{
  font-size:22px;
  font-weight: 300;
}

body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #FEAD00;
  text-align: center;
  color:#4a4a4a;
}

h4{
  text-transform: uppercase;
  font-size:0.8rem;
  font-weight: 700;
}

strong{
  font-weight: bold;
}

span{
  font-size: 0.8rem;
  font-weight: 100;
}


/* --- Specific styles --- */

.title{
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
}

.exit-btn{
  position:fixed;
  z-index:10;
  top:7vh;
  right:8vw;
}

/* --- Frame --- */

.frame__general{
  width: 90vw;
  height:90vh;
  margin:5vh 5vw;
}

.frame--white{
  background-color:white;
  border-radius:5px;
  padding:10px;
  box-shadow: 0px 0px 2px 2px #888888;
}

.content{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-between;
  width:80%;
  height:85%;
  margin: 0 auto;
}


/* --- Small components --- */
.btn{
  align-self:center;
  width:221px;
  height:43px;
  font-size:.8rem;
  box-shadow: 0px 0px 2px 2px rgba(8, 8, 8, 0.247);
  border-radius: 5px;
  border:none;
  margin:15px;
}

.btn--red{
  background: #FD5800;
  color:white;
}

.btn--white{
  background: white;
  color:#FD5800;
}

.icon{
  display:flex;
  align-self:flex-end;
  color:#FC0201;
  font-size: 1.5rem;
  opacity:0.5;
  margin:10px;
}

/* --- Flexbox --- */

.flex__row{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.flex__column{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: space-around;
}


/* --- Media --- */

.img--small{
  width:70px;
  height:70px;
}

.question-box{
  transform: scale(0.8);
  margin:0 auto;
}


/* --- Color Styles --- */
.text--red{
  color: #FC0201;
}



/* .description{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
} */

/* .description div{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-evenly;
} */

/* .description p{
  text-align: center;
  margin:10%;
} */



/* --- Others --- */

.exercise-box{
  width:100%;
  margin:20px auto;
}

/* --- Modal Styles --- */

.modal{
  position:fixed;
  display:flex;
  flex-direction:column;
  align-items: center;
  z-index:10;
  top:20vh;
  width:100%;
  height:40%;
  background-color:#FD5800;
  box-shadow:3px 3px 3px 3px #888888;
}

.modal p{
  width:75%;
  color:white;
  padding:10px;
  text-shadow:1px 1px #888888
}

.modal iframe{
  width:80%;
  height:auto;
  border-radius: 10px;
}

.modal button{
  background-color:white;
  color:#4a4a4a;
  padding:5px 15px;
  margin:10px;
  border-radius:3px;
  text-transform: uppercase;
}



